/****** Object:  Table [dbo].[AUS_AUTENTIFICACION_USUARIO]    Script Date: 23/02/2018 0:15:17 ******/
DROP TABLE [dbo].[AUS_AUTENTIFICACION_USUARIO]
GO
/****** Object:  Table [dbo].[AUS_AUTENTIFICACION_USUARIO]    Script Date: 23/02/2018 0:15:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUS_AUTENTIFICACION_USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](250) COLLATE Modern_Spanish_CI_AS NULL,
	[PASSWORD] [varchar](250) COLLATE Modern_Spanish_CI_AS NULL,
	[ELIMINADO] [int] NULL,
	[ACTIVO] [int] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[NOD_ID] [int] NULL,
 CONSTRAINT [PK_AUS_AUTENTIFICACION_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AUS_AUTENTIFICACION_USUARIO] ON 

GO
INSERT [dbo].[AUS_AUTENTIFICACION_USUARIO] ([ID], [NOMBRE_USUARIO], [PASSWORD], [ELIMINADO], [ACTIVO], [FECHA_CREACION], [NOD_ID]) VALUES (1, N'vcoronado', N'123', 0, 1, CAST(N'2018-02-22T00:00:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[AUS_AUTENTIFICACION_USUARIO] OFF
GO
